@font-face {
    font-family: 'Futura Medium';
    src: url(./Fonts/FuturaMedium/FuturaMedium.otf);
}

@font-face {
    font-family: 'Myanmar MN';
    src: url(./Fonts/myanmar-mn.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Myanmar MN';
    src: url(./Fonts/myanmar-mn-bold.ttf);
    font-weight: bold;
}

:root {
    --background-black: #121113;
    --text-white: #ebebd3;
    --offwhite: rgb(252, 252, 252);
    --accent-blue: #1446a0;
    --header-height: 90px;
    --header-padding-side: 40px;
    --hero-height: 750px;
    --text-gap: 15px;
    --title-margin: 8vh;
    --content-width: 70vw;
    --tile-width: 240px;
    --grid-gap: 15px;
    --default-border-radius: 10px;
    --tile-padding-side: 15px;
    --button-gap: 50px;
    --table-border: 4px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura Medium', Helvetica, sans-serif;
}

body,
main {
    overflow-x: hidden;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--header-height);
}

.fa-solid,
.fa-brands {
    color: var(--text-white);
}

section {
    width: 100%;
    padding: var(--title-margin) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text-white);
}

ul {
    list-style-type: none;
}

.dark {
    background-color: var(--background-black);
    color: var(--text-white);
}

.light {
    background-color: var(--offwhite);
    color: var(--background-black);
}

.wrapper {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-gap);
    text-align: center;
}

.wrapper .title {
    margin-bottom: calc(var(--title-margin) - var(--text-gap));
}

.title {
    margin-bottom: var(--title-margin);
    font-size: 2rem;
    font-family: 'Myanmar MN';
}

.text {
    font-size: 1.3rem;
    text-align: justify;
    width: 100%;
}

.text.left {
    text-align: left;
}

.scroll-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--grid-gap);
    width: var(--content-width);
    overflow-x: scroll;
}

.sponsors .scroll-list {
    display: none;
}

.scroll-list::-webkit-scrollbar {
    width: 10px;
}

.scroll-list::-webkit-scrollbar-track {
    background-color: #bbb;
    border-radius: var(--default-border-radius);
}

.scroll-list::-webkit-scrollbar-thumb {
    background-color: var(--background-black);
    border-radius: var(--default-border-radius);
}

.btn {
    border: none;
    border-radius: var(--default-border-radius);
    cursor: pointer;
    padding: 10px 20px;
    font-size: 2rem;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
}

.btn.light {
    background-color: var(--text-white);
}

.apply-btn {
    font-weight: bold;
    text-transform: uppercase;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--header-padding-side);
    z-index: 999;
}

#logoDiv {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoImg {
    width: 90px;
    aspect-ratio: 1 / 1;
}

#logoText {
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink li {
    font-size: 2rem;
    padding: 0 10px;
}

#hamburger {
    display: none;
    height: var(--header-height);
    aspect-ratio: 1 / 1;
}

.noscroll {
    overflow: hidden;
}

.hero {
    justify-content: space-evenly;
    padding: 0 10px;
    height: var(--hero-height);
    position: relative;
    z-index: 5;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: var(--hero-height);
    background-image: url(./imgs/globeStructure.png);
    background-color: var(--offwhite);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(80%) brightness(60%) contrast(90%);
}

.hero h1 {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: black;
}

.hero p {
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

.hero .btn {
    position: relative;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--button-gap);
    margin-top: calc(var(--title-margin) / 2 - var(--text-gap));
}

.stats ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: var(--content-width);
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--grid-gap);
    width: 160px;
}

.stat p {
    font-size: 2rem;
}

.stat .number {
    font-weight: bold;
    margin-top: 5px;
}

.stats .fa-solid {
    color: var(--accent-blue);
}

.stats .btn {
    margin-top: calc(var(--title-margin) / 2);
}

.partner-conference {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--background-black);
    padding: 10px 10px 15px;
    border-radius: var(--default-border-radius);
    margin-bottom: var(--grid-gap);
}

.img-link {
    height: 150px;
}

.text-link {
    margin-bottom: 5px;
}

.partner-conference img {
    border-radius: var(--default-border-radius);
}

.partner-conference a {
    font-size: 1.25rem;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(var(--title-margin) / 2);
    gap: var(--text-gap);
}

footer #socials {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

footer #socials img {
    filter: brightness(0.94) contrast(1.1) sepia(1.2); /* Makes background of mymun logo simmilar to var(--text-white) */
}

footer #navigation {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer #navigation a{
    font-size: 1.2rem;
}

footer p {
    text-align: center;
    font-size: 0.8rem;
}

/* glsmun-2024.html */

.table {
    width: var(--content-width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px auto;
    border-radius: var(--default-border-radius);
    justify-content: center;
}

div.day:nth-child(1) {
    border-top-left-radius: var(--default-border-radius);
}

div.day:nth-child(7) {
    border-top-right-radius: var(--default-border-radius);
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.day h2 {
    font-size: 1.5rem;
}

.plan {
    text-align: left;
    background-color: var(--text-white);
    grid-row: 2;
}

.plan ul {
    width: 100%;
    padding: 10px;
    list-style-type: "- ";
    list-style-position: inside;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: calc(var(--text-gap) - 5px);
}

div.plan:nth-child(2) {
    border-bottom-left-radius: var(--default-border-radius);
    border: var(--table-border) solid var(--background-black);
    border-right: calc(var(--table-border) / 2) solid var(--background-black);
    border-top: none;
}

div.plan:nth-child(4),
div.plan:nth-child(6) {
    border-right: calc(var(--table-border) / 2) solid var(--background-black);
    border-left: calc(var(--table-border) / 2) solid var(--background-black);
}

div.plan:nth-child(8) {
    border-bottom-right-radius: var(--default-border-radius);
    border: var(--table-border) solid var(--background-black);
    border-left: calc(var(--table-border) / 2) solid var(--background-black);
    border-top: none;
}

div.plan:nth-child(even) {
    border-bottom: var(--table-border) solid var(--background-black);
}

.committees {
    justify-content: start;
}

.committees .title {
    color: var(--background-black);
}

.grid {
    width: calc(var(--content-width) + 10vw);
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--tile-width));
    justify-content: center;
    gap: var(--grid-gap);
}

.tile {
    width: var(--tile-width);
    background-color: var(--background-black);
    color: var(--text-white);
    border-radius: var(--default-border-radius);
    padding: var(--tile-padding-side) 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--text-gap);
    margin: 0 auto;
}

.icon {
    border-radius: var(--default-border-radius);
    margin: 0 var(--tile-padding-side);
}

.committee-name {
    font-size: 1.5rem;
}

.issue {
    font-size: 1.3rem;
}

@media (max-width: 1200px) {
    .table {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 50px auto);
    }

    div.day:nth-child(5),
    div.day:nth-child(7) {
        grid-row: 3;
    }

    div.day:nth-child(4n + 1) {
        border-top-left-radius: var(--default-border-radius);
    }

    div.day:nth-child(4n + 3) {
        border-top-right-radius: var(--default-border-radius);
    }

    div.plan:nth-child(2),
    div.plan:nth-child(4) {
        margin-bottom: var(--grid-gap);
    }

    div.plan:nth-child(6),
    div.plan:nth-child(8) {
        grid-row: 4;
    }

    div.plan:nth-child(4n + 2) {
        border-left: var(--table-border) solid var(--background-black);
        border-right: calc(var(--table-border) / 2) solid var(--background-black);
        border-bottom-left-radius: var(--default-border-radius);
    }

    div.plan:nth-child(4n) {
        border-right: var(--table-border) solid var(--background-black);
        border-left: calc(var(--table-border) / 2) solid var(--background-black);
        border-bottom-right-radius: var(--default-border-radius);
    }
}

@media (max-width: 1080px) {
    .navLink li{
        font-size: 1.8rem;
    }
}

@media (max-width: 1020px) {
    .navLink li{
        font-size: 1.5rem;
    }
}

@media (max-width: 920px) {
    #logoText {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

@media (max-width: 740px) {
    :root {
        --header-padding-side: 20px;
        --content-width: 80vw;
    }

    header {
        padding: 10px calc(var(--header-padding-side) - 20px) 10px calc(var(--header-padding-side) - 8px);
        overflow-y: visible;
    }

    .navLink li{
        display: none;
    }

    #hamburger {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar.responsive {
        position: absolute;
        top: var(--header-height);
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        width: 100vw;
        height: 100vh;
        background-color: var(--background-black);
        opacity: 80%;
    }

    .navbar.responsive .navLink{
        width: 100%;
        padding: 15px;
    }

    .navbar.responsive .navLink li {
        font-size: 2rem;
    }

    .navbar.responsive #hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive li {
        float: none;
        display: block;
        text-align: left;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 2rem;
    }

    .btns .btn {
        width: 200px;
    }

    .btns {
        flex-direction: column;
        gap: calc(var(--title-margin) / 2 - var(--text-gap));
    }

    .stats ul {
        flex-direction: column;
        gap: calc(var(--grid-gap) * 2);
    }
}

@media (max-width: 620px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .tile {
        width: 100%;
        background-color: var(--offwhite);
        color: var(--background-black)
    }

    .icon {
        width: fit-content;
    }

    .table {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 50px auto);
    }

    div.day:nth-child(1) {
        grid-row: 1;
    }

    div.day:nth-child(3) {
        grid-row: 3;
    }

    div.day:nth-child(5) {
        grid-row: 5;
    }

    div.day:nth-child(7) {
        grid-row: 7;
    }

    div.plan:nth-child(2) {
        grid-row: 2;
    }

    div.plan:nth-child(4) {
        grid-row: 4;
    }

    div.plan:nth-child(6) {
        grid-row: 6;
    }

    div.plan:nth-child(8) {
        grid-row: 8;
    }

    div.day:nth-child(odd) {
        border-top-left-radius: var(--default-border-radius);
        border-top-right-radius: var(--default-border-radius);
    }

    div.plan:nth-child(even) {
        margin-bottom: var(--grid-gap);
        border: var(--table-border) solid var(--background-black);
        border-top: none;
        border-bottom-left-radius: var(--default-border-radius);
        border-bottom-right-radius: var(--default-border-radius);
    }
}