@font-face {
    font-family: 'Futura Medium';
    src: url(./Fonts/FuturaMedium/FuturaMedium.otf);
}

@font-face {
    font-family: 'Myanmar MN';
    src: url(./Fonts/myanmar-mn.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Myanmar MN';
    src: url(./Fonts/myanmar-mn-bold.ttf);
    font-weight: bold;
}

:root {
    --background-black: #121113;
    --text-white: #ebebd3;
    --accent-blue: #1446a0;
    --header-height: 90px;
    --hero-height: 800px;
    --text-gap: 15px;
    --title-margin: 8vh;
    --content-width: 70vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura Medium', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--background-black);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: var(--text-white);
    z-index: 999;
}

#logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoImg {
    width: 90px;
    aspect-ratio: 1 / 1;
}

#logoText {
    height: 60px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink {
    font-size: 2rem;
    padding: 0 10px;
    color: var(--text-white);
}

header a {
    color: var(--text-white);
}

#hero {
    padding-top: var(--header-height);
    width: 100%;
    height: var(--hero-height);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    z-index: 5;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: var(--hero-height);
    background-image: url(./imgs/globeStructure.png);
    background-color: var(--text-white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(80%) brightness(80%) contrast(90%);
}

#hero h1 {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    margin-top: 20vh;
    color: black; /* migth be better to use true black for better contrast and readability */
}

#hero #date {
    position: relative;
    font-size: 2.5rem;
    margin: 11vh 0;
    font-weight: bold;
    color: black;
}

#hero .btn {
    position: relative;
    padding: 8px 20px;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: var(--background-black);
    color: var(--text-white);
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
}

.wrapper {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-gap);
    text-align: center;
}

#theme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-black);
    color: var(--text-white);
    width: 100%;
    overflow-x: hidden;
}

.title {
    margin-top: var(--title-margin);
    margin-bottom: calc(var(--title-margin) - var(--text-gap));
    font-size: 2rem;
    font-family: 'Myanmar MN';
}

.text {
    font-size: 1.3rem;
    text-align: justify;
    width: 100%;
}

.text.left {
    text-align: left;
}

#theme .wrapper:last-child {
    padding-bottom: var(--title-margin);
}

#committees {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--background-black);
    text-align: center;
    padding-bottom: var(--title-margin);
}

.grid {
    width: var(--content-width);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.icon {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.tile {
    width: 300px;
    background-color: var(--background-black);
    color: var(--text-white);
    border-radius: 10px;
    padding-bottom: 15px;
}

.committeeName {
    font-size: 1.5rem;
}

.issue {
    font-size: 1.3rem;
}

@media (max-width: 1080px) {
    .navLink {
        font-size: 1.8rem;
    }
}

@media (max-width: 1020px) {
    .navLink {
        font-size: 1.5rem;
    }
}

@media (max-width: 920px) {
    #logoText {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

/* Good till 720px */