@font-face {
    font-family: 'Futura Medium';
    src: url(./Fonts/FuturaMedium/FuturaMedium.otf);
}

@font-face {
    font-family: 'Myanmar MN';
    src: url(./Fonts/myanmar-mn.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Myanmar MN';
    src: url(./Fonts/myanmar-mn-bold.ttf);
    font-weight: bold;
}

:root {
    --background-black: #121113;
    --text-white: #ebebd3;
    --offwhite: rgb(252, 252, 252);
    --accent-blue: #1446a0;
    --header-height: 90px;
    --header-padding-side: 40px;
    --hero-height: 800px;
    --text-gap: 15px;
    --title-margin: 8vh;
    --content-width: 70vw;
    --tile-width: 240px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Futura Medium', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--background-black);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px var(--header-padding-side);
    color: var(--text-white);
    z-index: 999;
}

#logoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoImg {
    width: 90px;
    aspect-ratio: 1 / 1;
}

#logoText {
    height: 60px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navLink li {
    font-size: 2rem;
    padding: 0 10px;
    color: var(--text-white);
}

#hamburger {
    display: none;
    height: var(--header-height);
    aspect-ratio: 1 / 1;
}

header a {
    color: var(--text-white);
}

.noscroll {
    overflow: hidden;
}

body:nth-child(2) {
    margin-top: var(--header-height);
}

#hero {
    padding: 0 10px;
    width: 100%;
    height: var(--hero-height);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    z-index: 5;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: var(--hero-height);
    background-image: url(./imgs/globeStructure.png);
    background-color: var(--text-white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(80%) brightness(60%) contrast(90%);
}

#hero h1 {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: black;
}

#hero #date {
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}

#hero .btn {
    position: relative;
    padding: 8px 20px;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: var(--background-black);
    color: var(--text-white);
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

.btn:active {
    transform: scale(0.9);
}

.wrapper {
    width: var(--content-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--text-gap);
    text-align: center;
}

#theme {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-black);
    color: var(--text-white);
    width: 100%;
    overflow-x: hidden;
}

.title {
    margin-top: var(--title-margin);
    margin-bottom: calc(var(--title-margin) - var(--text-gap));
    font-size: 2rem;
    font-family: 'Myanmar MN';
}

.text {
    font-size: 1.3rem;
    text-align: justify;
    width: 100%;
}

.text.left {
    text-align: left;
}

#theme .wrapper:last-child {
    padding-bottom: var(--title-margin);
}

#committees {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: var(--background-black);
    text-align: center;
    padding-bottom: var(--title-margin);
    background-color: var(--offwhite);
}

.grid {
    width: var(--content-width);
    display: grid;
    grid-template-columns: repeat(6, var(--tile-width));
    justify-content: center;
    gap: 15px;
}

.icon {
    border-radius: 10px;
    margin: 0 15px;
}

.tile {
    width: var(--tile-width);
    background-color: var(--background-black);
    color: var(--text-white);
    border-radius: 10px;
    padding: 15px 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0 auto;
}

.committeeName {
    font-size: 1.5rem;
}

.issue {
    font-size: 1.3rem;
}

#sponsors {
    background-color: var(--background-black);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
    text-align: center;
}

.scroll-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: var(--content-width);
    margin-bottom: var(--title-margin);
    overflow-x: scroll;
}

.scroll-list::-webkit-scrollbar {
    width: 10px;
}

.scroll-list::-webkit-scrollbar-track {
    background-color: #bbb;
    border-radius: 5px;
}

.scroll-list::-webkit-scrollbar-thumb {
    background-color: var(--background-black);
    border-radius: 5px;
}

#partners {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--background-black);
    background-color: var(--offwhite);
}

.conference {
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: var(--background-black);
    padding: 10px 10px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.img-link {
    height: 150px;
}

.text-link {
    margin-bottom: 5px;
}

.conference img {
    border-radius: 10px;
}

.conference a {
    color: var(--text-white);
    font-size: 1.25rem;
}

footer {
    width: 100%;
    background-color: var(--background-black);
    color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: calc(var(--title-margin) / 2);
    gap: 15px;
}

footer #socials {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
}

footer #socials img {
    filter: brightness(0.93) contrast(1.1) sepia(1.2);
}

.fa-solid,
.fa-brands {
    color: var(--text-white);
}

footer #navigation {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

footer #navigation a{
    font-size: 1.2rem;
    color: var(--text-white);
}

footer p {
    text-align: center;
    font-size: 0.8rem;
}

footer p a {
    color: var(--text-white);
}

@media (max-width: 1800px) {
    .grid {
        grid-template-columns: repeat(5, var(--tile-width));
    }
}

@media (max-width: 1450px) {
    .grid {
        grid-template-columns: repeat(4, var(--tile-width));
    }
} 

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, var(--tile-width));
    }
}

@media (max-width: 1080px) {
    .navLink li{
        font-size: 1.8rem;
    }
}

@media (max-width: 1020px) {
    .navLink li{
        font-size: 1.5rem;
    }
}

@media (max-width: 920px) {
    #logoText {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .grid {
        grid-template-columns: repeat(2, var(--tile-width));
    }
}

/* Navbar Good till 720px */

@media (max-width: 740px) {
    :root {
        --header-padding-side: 20px;
        --content-width: 80vw;
    }

    header {
        padding-right: calc(var(--header-padding-side) - 20px);
    }

    .navLink li{
        display: none;
    }

    #hamburger {
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar.responsive {
        position: absolute;
        top: var(--header-height);
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        width: 100vw;
        height: 100vh;
        background-color: var(--background-black);
        opacity: 80%;
    }

    .navbar.responsive .navLink{
        width: 100%;
        padding: 15px;
    }

    .navbar.responsive .navLink li {
        font-size: 2rem;
    }

    .navbar.responsive #hamburger {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive li {
        float: none;
        display: block;
        text-align: left;
    }

    #hero h1 {
        font-size: 2.5rem;
    }

    #hero #date {
        font-size: 2rem;
    }
}

@media (max-width: 620px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .tile {
        width: 100%;
        background-color: var(--offwhite);
        color: var(--background-black)
    }

    .icon {
        width: fit-content;
    }
}
